@media (max-width: 1199px) {
	.box-wa {
	    right: 45px;
	}
	.box-wa2 {
		&.active {
	    	right: 45px;
		}
	}
	header {
		.search {
			width: 155px;
		}
		.link {
			a {
				button.hvr-button {
					min-width: 115px;
					padding: 10px 15px;
				}
			}
		}
		.bg-menu {
            ul.l-menu {
                li {
                    margin-right: 60px;
                }
            }
        }
		.logo {
			a {
				img {
					width: 220px;
				}
			}
		}
	}
	#main {
		.css-detail {
			ul.l-detail {
				li {
					.l-detail-t2 {
						font-size: 12px;
						line-height: 17px;
					}
					.l-detail-t1 {
						font-size: 16px;
					}
				}
			}
			.text1 {
				.text1-row {
					.text1-col {
						.text1-bdr {
							.right {
								font-size: 11px;
							}
						}
					}
				}
			}
		}
		.css-home {
	        .bg-about {
	            .abs {
	                padding-right: 70px;
	                .t {
	                    margin-bottom: 50px;
	                }
	                .link {
	                    width: 360px;
	                }
	            }
	            .abs2 {
	                padding: 0 50px;
	                .t2 {
	                    margin-bottom: 20px;
	                }
	            }
	        }
	    }
		.css-procurement {
	        ul.nav-tabs {
	            li {
	                margin-right: 115px;
	            }
	        }
	    }
		.css-account {
	        .right-account {
	            padding: 90px 30px;
	            .table-order-account { 
	            	.tbl {
	            		.cell {
	            			&.w150 {
	            				width: 120px;
	            			}
	            		}
	            	}
	            }
	        }
	    }
	}
}