@media (max-width: 570px) {
	footer {
	    padding: 15px 0;
	    ul.l-footer {
	        li {
	        	img {
	        		width: 90px;
	        	}
	            margin-right: 20px;
	        }
	    }
	    ul.l-soc {
	    	margin: 0 0 5px;
	    	text-align: left;
	        li {
	            margin-right: 10px;
	            a {
	                font-size: 18px;
	            }
	        }
	    }
	}
}

@media (max-width: 500px) {
	#main {
		.css-detail {
			ul.l-detail {
				margin: 0 0 10px;
	            li {
	            	padding-right: 15px;
	                margin-right: 15px;
	                margin-bottom: 20px;
	                .l-detail-t1 {
	                    font-size: 16px;
	                    margin-bottom: 5px;
	                    line-height: 22px;
	                }
	                .l-detail-t2 {
	                    font-size: 12px;
	                    line-height: 15px;
	                }
	            }
	        }
		}
	}
}
