@media (max-width: 1199px) {
	.main {
		.box-plan {
			.item-plan {
				a {
					.link {
						width: 200px;
						min-width: 200px;
					}
				}
			}
		}
		.new-plans {
            .item {
                padding: 0 30px;
                .bdr {
                	.nm {
                		line-height: 30px;
                		font-size: 24px;
                	}
                }
            }
        }
		.box-plant {
			.item-plant {
				a {
					.link {
						width: 200px;
						min-width: 200px;
					}
				}
			}
		}
		.box-menu {
	        .item-menu {
	            a.top {
	                .img {
	                    img {
	                        height: 190px;
	                    }
	                }
	            }
	        }
	    }
		.box-work {
	        .item-work {
	            padding: 40px 20px;
	            .nm {
	                font-size: 16px;
	                line-height: 22px;
	            }
	            .bdy {
	                p {
	                	height: 65px;
	                    font-size: 14px;
	                    line-height: 22px;
	                }
	            }
	        }
	    }
	    .css-account {
	    	.box-account {
	    		&.order {
	                .table-order-account {
	                    .tbl {
	                        .cell {
	                            &.w100 {
	                                width: 170px;
	                            }
	                            &.w85 {
	                                width: 170px;
	                            }
	                            &.w95 {
	                                width: 170px;
	                            }
	                            &.w80 {
	                                width: 150px;
	                            }
	                        }
	                    }
	                }
	            }
	    		.table-account {
	    			.tbl {
	    				.cell {
	    					&.img {
	    						width: 125px;
	    					}
	    					.bdy-product {
	    						margin-bottom: 15px;
	    					}
	    				}
	    			}
	    		}
	    	}
	    }
	    .css-about {
	        .item-about1 {
	            .banner {
	            	padding: 40px 0;
	                .bg {
	                    width: 400px;
	                }
	            }
	        }
	        .item-about3 {
	            padding: 100px 0 250px;
	        }
	    }
		.css-home {
			.banner {
	            position: relative;
	            .abs-banner {
	                position: absolute;
	                top: 0;
	                left: 0;
	                img {
	                    width: 100%;
	                }
	            }
	            .pad-banner {
	                padding: 80px 0 0;
	                .t-banner {
	                    font-size: 35px;
	                    margin-bottom: 30px;
	                }
	                .btn-banner {
	                    margin-bottom: 50px;
	                    .hvr-button {
	                        width: 500px;
	                    }
	                }
	                .t2-banner {
	                    font-size: 30px;
	                    font-family: 'poppinssemibold';
	                    line-height: 45px;
	                    margin-bottom: 80px;
	                }
	            }
	        }
			.box-meal {
	            .item-meal {
	                a {
	                    .tbl {
	                        .cell {
	                            &.img {
	                                width: 140px;
	                                img {
	                                	object-fit: cover;
	                                	height: 160px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	        .box-what {
	        	.row {
	                margin-left: -45px;
	                margin-right: -45px;
	                > div {
	                    padding-left: 45px;
	                    padding-right: 45px;
	                }
	            }
	            .item-what {
	                .nm {
	                	height: 90px;
	                    font-size: 24px;
	                    line-height: 32px;
	                }
	            }
	        }
	        .box-subs {
	            .in-subs {
	                padding: 30px 50px;
	                .t-subs {
	                    font-size: 30px;
	                    line-height: 45px;;
	                }
	                .bdy-subs {
	                    margin-bottom: 20px;
	                }
	            }
	        }
	    }
		.css-cart {
	        .item-cart {
	            .in-cart {
	                .tbl {
	                    .cell {
	                        &.img {
	                            width: 130px;
	                        }
	                    }
	                }
	            }
	        }
	    }
		.css-blog {
			.box-orange {
	            .pad-orange {
	                padding: 0 0 0 20px;
	            }
	            .item-blog {
	                a {
	                    .img {
	                        img {
	                            height: 180px;
	                        }
	                    }

	                }
	            }
	        }
	        .slider-blog {
	            .item {
	                .banner {
	                    .box {
	                        width: 450px;
	                        padding: 30px 85px 30px 40px;
	                        .t {
	                            font-size: 25px;
	                            line-height: 35px;
	                        }
	                        .bdy {
	                            p {
	                                font-size: 14px;
	                                line-height: 22px;
	                            }
	                        }
	                    }
	                    .abs-btn {
	                        position: absolute;
	                        bottom: 0;
	                        left: 50%;
	                        @include transform(translateX(-50%));
	                        a {
	                            display: inline-block;
	                            .hvr-button {
	                                border-radius: 0;
	                                min-width: 200px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
		.css-faq {
			.banner {
				.box {
					padding: 50px 120px;
				}
			}
		}
	}
}