@media (max-width: 767px) {
	.xs20 {
		margin-bottom: 20px;
	}
	.xs30 {
		margin-bottom: 30px;
	}
	.xs40 {
		margin-bottom: 40px;
	}
	.xs15 {
		margin-bottom: 10px;
	}
	header {
		.header {
			.logo {
				a {
					img {
						height: 40px;
					}
				}
			}
			ul.main-menu {
				li {
					margin-right: 5px;
					&.cart {
						a {
							padding: 20px 10px 15px 5px;
							img {
								height: 18px;
							}
						}
					}
					&.account {
	                    i {
	                    	color: #8a8a8a;
	                    	position: relative;
	                    	top: 3px;
	                    	font-size: 17px;
	                        display: block;
	                    }
	                    .text {
	                		display: none;
	                	}
	                }
	                &.no-account {
	                	.text {
	                		display: none;
	                	}
	                    i {
	                    	color: #8a8a8a;
	                    	position: relative;
	                    	top: 3px;
	                    	font-size: 17px;
	                        display: block;
	                    }
	                }
					&.menu {
						margin-left: 10px;
						display: inline-block;
						a {
							cursor: pointer;
							i {
		                    	color: #8a8a8a;
		                    	position: relative;
		                    	top: 3px;
		                    	font-size: 17px;
		                        display: block;
		                    }
						}
					}
					&.hidden-xs {
						display: none;
					}
					a {
						padding: 22px 5px 22px;
						font-size: 13px;
					}
				}
			}
		}
	}
	.modal {
		&.modal-global {
	        .modal-content {
	            padding: 40px 20px;
				.login-trial-pop {
					padding-left:30px;
					.login-title {
						font-size: 13px;
					}
				}
				ul {
					li { 
						font-size:12px;
					}
				}
			}
	        .modal-dialog {
	            width: 280px;
	        }
	        .t-pop {
	            font-size: 16px;
	            line-height: 25px; 
	            margin-bottom: 10px;
	        }
	        .bdy-pop {
	            p {
	                font-size: 13px;
	                line-height: 22px;
	            }
	        }
	        .close-pop {
	            top: 10px; 
	            right: 10px;
	            i {
	                font-size: 18px;
	            }
	        }
	        .btn-pop {
	            margin-top: 20px;
	            .hvr-button {
	                width: 200px;
	            }
	        }
	    }
		&.modal-detail {
	        .close-pop {
	            margin-bottom: 15px;	            
	            img {
	            	width: 14px;
	            }
	        }
	        .btn-pop {
	            a {
	                display: block;
	                .hvr-button {
	                    width: 100%;
	                }
	            }
	        }
	        .modal-content {
	            padding: 15px 20px;
	        }
	        .modal-dialog {
	            width: 280px;
	            height: 500px;
	        }
	        .nm {
	            font-size: 16px;
	            line-height: 25px;
	            margin-bottom: 10px;
	        }
	        .bdy {
	            margin-bottom: 20px;
	            p {
	                font-size: 13px;
	                height: auto;
	                line-height: 22px;
	            }
	        }
	        .kcal {
	            margin-bottom: 5px;
	        }
	        .text {
	            margin-bottom: 20px;
	        }
	        .img {
	        	margin-bottom: 15px;
	            img {
	                height: 150px;
	            }
	        }
	        .bdr {
	            margin: 20px 0;
	        }
	        .desc {
	            .t {
	                font-size: 15px;
	                line-height: 23px;
	                margin-bottom: 10px;
	            }
	            .bdy-desc {
	                p {
	                    font-size: 13px;
	                    line-height: 20px;
	                }
	            }
	        }
	    }
		&.modal-success, &.modal-failed {
	        .modal-content {
	            padding: 20px 20px;
	        }
	        .modal-dialog {
	            width: 280px;
	        }
	        .t-pop {
	        	line-height: 20px;
	            font-size: 18px; 
	            margin: 15px 0 10px;
	        }
	        .bdy-pop {
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	    }
        .modal-dialog {
            width: 280px;
            max-width: 280px;
        }
    }
	.offcanvas-cart-open {
	    #main-page {
	        @include transform(translate3d(-280px, 0, 0));
	    }
	}
	#cart {
	    width: 280px;
	    padding: 20px;
	    .t-cart {
	        font-size: 18px;
	        line-height: 25px;
	        span.num {
	            margin-left: 15px;
	            top: -2px;
	            width: 25px;
	            height: 25px;
	            font-size: 14px;
	            line-height: 27px;
	        }
	    }
	    .bdy-cart {
	        p {
	            font-size: 10px;
	            line-height: 15px;
	        }
	    }
	    .close-cart {
	    	img {
	    		height: 12px;
	    	}
	    }
	    .in-cart {
	        margin: 15px 0;
	        padding: 12px 0;
	        .t {
	            font-size: 14px;
	            line-height: 20px;
	        }
	        a.link {
	            font-size: 11px;
	            line-height: 15px;
	        }
	    }
	    .in-link {
	        margin-top: 10px;
	        padding: 15px 0;
	        margin-bottom: 20px;
	        ul.l-link {
	            li {
	                margin-right: 5px;
	                .bdr {
	                    height: 40px;
	                }
	                a {
	                    letter-spacing: 0.2px;
	                    font-size: 14px;
	                    line-height: 20px;
	                    img {
	                        height: 15px;
	                        top: -5px;
	                        margin-right: 7px;
	                    }
	                }
	            }
	        }
	    }
	    .m15 {
	        margin-left: -5px;
	        margin-right: -5px;
	        margin-bottom: 30px;
	    }
	    ul.nav {
	        li {
	            padding-right: 5px;
	            padding-left: 5px;
	           	a {
	                padding: 0 5px;
	                font-size: 11px;
	                line-height: 20px;
	                &:before {
	                    height: 4px;
	                    bottom: -7px;
	                }
	            }
	        }
	    }
	    .table-order {
	    	.show-remove {
	    		display: block;
	    		text-align: right;
    			a {
                    display: inline-block;
                    color: #ED5752;
                    font-size: 10px;
                    line-height: 18px;
                    cursor: pointer;
                    border-bottom: 1px solid #ED5752;
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                }
	    	}
	        .tbl {
	            .cell {
	                &.remove {
	                	display: none;
	                }
	                &.img {
	                    width: 100px;
	                    padding-right: 15px;
	                }
	                .nm-product {
	                    font-size: 13px;
	                    margin-bottom: 3px;
	                    line-height: 18px;
	                }
	                .bdy-product {
	                    margin-bottom: 10px;
	                    p {
	                        height: 40px;
	                        font-size: 10px;
	                        line-height: 15px;
	                    }
	                }
	                .price-product {
	                    font-family: 'poppinssemibold';
	                    font-size: 12px;
	                    line-height: 18px;
	                }
	            }
	        }
	    }
	}
	.form-group {
		&.mb50 {
	        margin-bottom: 30px;
	    }
	    &.custom-group {
	    	&.textarea {
	            p {
	                label {
	                    &:not(.error) {
	                        bottom: 100px;
	                    }
	                }
	                &.filled-text {
	                    label {
	                        &:not(.error) {
	                            bottom: 117px;
	                        }
	                    }
	                }
	            }
	        }
	        &.big {
	            p {
	                label {
	                    &:not(.error) {
	                        bottom: 15px;
	                    }
	                }
	                &.filled-text {
	                    label {
	                        &:not(.error) {
	                            bottom: 28px;
	                        }
	                    }
	                }
	            }
	        }
	        p {
	            &.filled-text {
	                &:after {
	                    @include transform(scale(1));
	                }
	                label {
	                    &:not(.error) {
	                        bottom: 30px;
	                        font-size: 11px
	                    }
	                }
	            }
	            label {
	                &:not(.error) {
	                    bottom: 10px;
	                    font-size: 14px;
	                }
	            }
	        }
	    }
	}
	.form-control {
		font-size: 13px;
		padding: 20px 15px 5px;
	}
	button.hvr-button {
		line-height: 20px;
		font-size: 14px;
		padding: 13px 15px 10px;
	}
	footer {
	    padding: 15px 0;
	    .footer {
	    	text-align: center;
	    	.text-right {
	    		text-align: center !important;
	    	}
	        ul.l-footer {
	            li {
	                margin-right: 15px;
	                padding-right: 15px;
	                font-size: 13px;
	                line-height: 15px;
	                a {
	                	line-height: 15px;
	                    font-size: 13px;
	                }
	            }
	        }
	        ul.l-footer2 {
	            li {
	                margin-right: 25px;
	                a {
	                    font-size: 13px;
	                }
	            }
	        }
	    }
	}
	.main {
		.t-empty {
			font-size: 14px;
			margin: 40px 0;
		}
		ul.bread {
			&.mb55 {
				margin-bottom: 35px;
			}
		}
		.pad80 {
			padding: 40px 0;
		}
		.pad55 {
			padding: 35px 0;
			&.pb100 {
	            padding-bottom: 60px;
	        }
		}
		.btn30 {
	        margin-top: 30px;
	    }
	    .box-plan {
			.item-plan {
				a {
					height: 200px;
	                padding: 0 15px;
	                .nm {
	                    font-size: 16px;
	                    line-height: 25px;
	                    .txt {
	                        font-size: 12px;
	                        line-height: 17px;
	                    }
	                }
	                .link {
	                	margin-top: 15px;
	                    padding: 10px 15px 7px;
	                    font-size: 14px;
	                    line-height: 20px;
	                }
				}
			}
		}
		.new-plans {
        	margin-bottom: 0;
            .item {
                padding: 0;
                .bdr {
                    .pad {
                        padding: 10px 15px;
                    }
                    .nm {
                        margin-bottom: 7px;
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .txt {
                        &.mb10 {
                            margin-bottom: 5px;
                            p {
                            	height: auto;
                            }
                        }
                    }
                    .num {
                        font-size: 35px;
                        line-height: 40px;
                    }
                    .txt2 {
                        font-size: 16px;
                        line-height: 22px;
                        .small {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
	    .box-plant {
	    	padding: 40px 0;
	    	&.pad40 {
	    		padding: 40px 0 10px;
	    	}
	    	.t {
                font-size: 20px;
                line-height: 35px;
                margin-bottom: 20px;
            }
			.item-plant {
				a {
	                padding: 15px;
	                .nm {
	                    font-size: 16px;
	                    line-height: 25px;
	                    .txt {
	                        font-size: 12px;
	                        line-height: 17px;
	                    }
	                }
	                .link {
	                    padding: 10px 15px 7px;
	                    font-size: 14px;
	                    line-height: 20px;
	                }
				}
			}
		}
		.box-menu {
	        padding: 40px 0 20px 0;
	        .t {
	            font-size: 18px;
	            line-height: 25px;
	            margin-bottom: 15px;
	        }
	        .row {
	            margin-left: -10px;
	            margin-right: -10px;
	            > div {
	                padding-left: 10px;
	                padding-right: 10px;
	            }
	        }
	        .item-menu {
	            margin-bottom: 30px;
	            .mb15 {
	            	margin-bottom: 10px;
	            }
	            a.top {
	                .img {
	                    img {
	                        height: auto;
	                    }
	                }
	                .abs {
	                    width: 30px;
	                    height: 30px;
	                    line-height: 25px;
	                    right: 10px;
	                    bottom: 10px;
	                    img {
	                        width: 10px;
	                    }
	                }
	            }
	            a.bottom {
	                .nm {
	                    font-size: 12px;
	                    line-height: 18px;
	                }
	                .bdy {
	                    p {
	                        font-size: 12px;
	                        line-height: 18px;
	                        height: 50px;
	                    }
	                }
	            }
	        }
	    }
		.box-work {
	        padding: 40px 0 50px;
	        .t {
	            font-size: 25px;
	            line-height: 40px;
	            margin-bottom: 20px;
	        }
	        .item-work {
	        	.bdy {
	        		p {
	        			height: auto;
	        		}
	        	}
	        }
	    }
	    .btn-menu {
	        margin-top: 20px;
	        .hvr-button {
	            width: 250px;
	        }
	    }
	    .title-global {
	        font-size: 25px;
	        line-height: 45px;
	        margin-bottom: 10px;
	    }
	    .bdy-global {
	        &.w480 {
	            width: 100%;
	        }
	        p {
	            font-size: 14px;
	            line-height: 20px;
	        }
	    }
	    .form-global {
	        margin-top: 20px;
	        .pos-rel-select {
	            width: 260px;
	        }
	    }
	    .box-detail {
            margin-top: 20px;
            .t-detail {
                margin-bottom: 5px;
            }
            .bdy-detail {
            	margin-bottom: 20px;
                p {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .meal-detail {
                margin-top: 20px;
            }
            .item-detail {
                .t-detail {
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
                .slider-week {
                	.slick-next {
                        width: 35px;
                        height: 35px;
                        &:before {
                            width: 35px;
                            height: 35px;
                            font-size: 15px;
                        }
                    }
                    .item {
                        .tbl {
                            .cell {
                            	.bdy {
                            		margin-bottom: 25px;
                            		p {
										height: 40px;
										font-size: 11px;
										line-height: 15px;
                            		}
                            	}
                            	.nm {
                            		font-size: 13px;
                            	}
                            	&.img {
                                    width: 120px;
                                }
                            }
                        }
                    }
                }
            }
            .item-price-detail {
                .mb10 {
                    margin-bottom: 3px;
                }
                .price2 {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
	    .css-account {
	    	padding: 35px 0 50px;
	        .nm-profile {
	            font-size: 20px;
	            line-height: 35px;
	        }
	        .resp-right {
	        	text-align: left !important;
	        }
	        .btn-account {
	        	margin-top: 10px;
	            a {
	                .hvr-button {
	                	padding: 10px 15px 7px;
	                    width: 150px;
	                }
	            }
	        }
	        .form-edit {
	            margin-top: 20px;
	            .btn30 {
	            	margin-top: 10px;
	                .hvr-button {
	                    width: 150px;
	                }
	            }
	        }
	    	.box-account {
	    		margin-top: 30px;
	    		ul.l-pag {
	                border-top: 0;
	                padding: 0;
	                margin: 0;
	                li {
	                    margin-right: 10px;
	                    &:first-child {
	                        a {
	                            font-size: 13px;
	                        }
	                    }
	                    &:last-child {
	                        a {
	                            font-size: 13px;
	                        }
	                    }
	                    a {
	                        font-size: 14px;
	                        i {
	                            top: -1px;
	                            font-size: 9px;
	                        }
	                    }
	                }
	            }
	    		.m15 {
			        margin-left: -5px;
			        margin-right: -5px;
			        margin-bottom: 30px;
			    }
	    		ul.nav-account {
			        li {
			            padding-right: 5px;
			            padding-left: 5px;
			           	a {
			                padding: 0 5px;
			                font-size: 11px;
			                line-height: 20px;
			                &:before {
			                    height: 4px;
			                    bottom: -7px;
			                }
			            }
			        }
			    }
			    &.order {
					margin-top: 20px;
		            .table-order-account {
		            	.tbl-bdy {
	                        padding: 12px 0;
	                        font-size: 12px;
	                        line-height: 18px;
	                    }
		                .tbl {
		                    .cell {
		                        &.w100 {
		                            width: 100%;
		                        }
		                        &.w85 {
		                            width: 100%;
		                        }
		                        &.w95 {
		                            width: 100%;
		                        }
		                        &.w80 {
		                            width: 100%;
		                        }
		                    }
		                }
		            }
		        }
	    		.table-account {
			        .tbl {
			            .cell {
			                &.img {
			                    width: 100px;
			                    padding-right: 15px;
			                }
			                .nm-product {
			                    font-size: 13px;
			                    margin-bottom: 3px;
			                    line-height: 18px;
			                }
			                .bdy-product {
			                    margin-bottom: 10px;
			                    p {
			                        height: 40px;
			                        font-size: 10px;
			                        line-height: 15px;
			                    }
			                }
			                .price-product {
			                    font-family: 'poppinssemibold';
			                    font-size: 12px;
			                    line-height: 18px;
			                }
			            }
			        }
			    }
	    		.in-account {
	                margin: 15px 0;
			        padding: 12px 0;
			        .t {
			            font-size: 14px;
			            line-height: 20px;
			        }
			        a.link {
			            font-size: 11px;
			            line-height: 15px;
			        }
	            }
	    		.t-account {
	    			font-size: 17px;
	    			line-height: 25px;
	    		}
	    		a.link-account {
	    			font-size: 11px;
	    		}
	    		.box-profile {
	                margin-top: 15px;
	    			padding-top: 15px;
	    			margin-bottom: 30px;
	                .mb20 {
	                    margin-bottom: 15px;
	                }
	                .name {
	                    font-size: 11px;
	                    line-height: 15px; 
	                }
	                .text {
	                    font-size: 13px;
	                    line-height: 20px; 
	                }
	            }
	    		.table-order-account {
	    			margin-bottom: 30px;
	    			padding-top: 0;
	    			a.link-order {
	    				&:hover {
	    					opacity: 0.7;
	    					box-shadow: none;
	    				}
	    			}
	    			.tbl-hdr {
	    				display: none !important;
	    			}
	    			.tbl-bdy {
	    				line-height: 20px;
	    				.show-order {
	    					display: inline-block;
	    					margin-right: 5px;
	    					font-family: 'poppinssemibold';
	    				}
	    				border-bottom: 1px solid #E7E7DF;
	    			}
	    			.tbl {
	    				display: block;
	                    .cell {
	                    	display: block;
	                        &.w100 {
	                    		padding-left: 0;
	                            width: 100%;
	                        }
	                        &.w85 {
	                            width: 100%;
	                        }
	                        &.w95 {
	                            width: 100%;
	                        }
	                        &.w80 {
	                        	width: 100%;
	                        }
	                    }
	                }
	    		}
	    	}
	    }
	    .css-about {
	        .item-about1 {
	            padding: 35px 0 40px;
	            .t {
	                width: auto;
	                font-size: 20px;
	                line-height: 30px;
	                margin-bottom: 50px;
	            }
	            .banner {
	                padding: 0;
	                &:before {
	                	display: none;
	                }
	                .show-about {
	                	margin-bottom: 20px;
	                    display: block;
	                    img {
	                    	width: 100%;
	                    }
	                }
	                .bg {
	                    top: -30px;
	                    width: 200px;
	                    height: 30px;
	                }
	            }
	            .t2 {
	                font-size: 17px;
	                line-height: 25px;
	                margin-bottom: 5px;
	            }
	            .bdy {
	                p {
	                    font-size: 13px;
	                    line-height: 20px;
	                }
	            }
	        }
	        .item-about2 {
	            .in-about {
	            	margin-bottom: 30px;
	            	.img-about {
	            		margin-bottom: 15px;
	            		img {
	            			height: 40px;
	            		}
	            	}
	            	.nm-about {
	            		margin-bottom: 10px;
	            	}
	                .bdy-about {
	                    padding: 0;
	                    p {
	                        font-size: 13px;
	                        line-height: 18px;
	                    }
	                }
	            }
	        }
	        .item-about3 {
	            padding: 50px 0 50px;
	            .btn-about {
	            	margin-top: 25px;
	            	top: 0;
	            	position: relative;
	            	text-align: center;
	                button {
	                    width: 200px;
	                }
	            }
	            .banner {
	                padding: 0;
	                &:before {
	                	display: none;
	                }
	                .show-about {
	                	margin-bottom: 20px;
	                    display: block;
	                    img {
	                    	width: 100%;
	                    }
	                }
	            }
	            .t {
	                font-size: 18px;
	                margin-bottom: 0;
	                line-height: 25px;
	            }
	            .slide {
	            	margin-bottom: 10px;
	            	i {
	            		font-size: 16px;
	            		&.fa-chevron-left {
	            			margin-right: 15px;
	            		}
	            	}
	            }
	            .slider-about {
	                .item {
	                    .t1 {
	                        line-height: 20px;
	                        margin-bottom: 5px;
	                    }
	                    .bdy-about {
	                        p {
	                            font-size: 13px;
	                            line-height: 18px;
	                        }
	                    }
	                }
	            }
	        }
	    }
	    .css-home {
	    	&.min600 {
	            min-height: 400px;
	        }
	    	.box-filter {
	    		margin: 10px 0 30px;
	            .form-global {
	                margin-top: 30px;
	                ul.l-filter {
	                    margin: 0;
	                    padding: 0;
	                    li {
	                        margin-right: 5px;
	                        .t-filter {
	                            font-size: 14px;
	                            line-height: 20px;
	                            margin-bottom: 10px;
	                        }
	                        .pos-rel-select {
	                            width: 140px;
	                            .form-control {
	                            	font-size: 12px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    	.item-review {
	    		float: none;
	    		width: 100%;
	    		.title {
	    			font-size: 14px;
	    			line-height: 20px;
	    			margin-bottom: 10px;
	    		}
	    		.bdy {
	    			p {
	    				font-size: 13px;
	    			}
	    		}
	    	}
	    	.banner {
	    		.abs-banner {
	    			position: relative;
	    		}
	            .pad-banner {
	                padding: 15px 0 0;
	                .t-banner {
	                    font-size: 17px;
	                    line-height: 26px;
	                    margin-bottom: 15px;
	                }
	                .btn-banner {
	                    margin-bottom: 30px;
	                    .hvr-button {
	                        width: 150px;
	                        font-size: 13px;
	                        padding: 10px 15px 7px;
	                    }
	                }
	                .text-right {
	                	text-align: left !important;
	                }
	                .t2-banner {
	                    font-size: 16px;
	                    line-height: 24px;
	                    margin-bottom: 15px;
	                }
	                ul.l-special {
	                    li {
	                        margin-left: 5px;
	                        &:first-child {
	                        	display: block;
	                        	margin-bottom: 0;
	                        }
	                        &:nth-child(2) {
	                        	margin-left: 0;
	                        }
	                        .txt-special {
	                            width: auto;
	                            font-size: 14px;
	                            line-height: 20px;
	                        }
	                        .in-special {
	                            width: 90px;
	                            padding: 50px 10px 30px;
	                            .img-special {
	                                top: -30px;
	                                img {
	                                	height: 60px;
	                                    width: 60px;
	                                }
	                            }
	                            .nm-special {
	                                font-size: 12px;
	                                line-height: 16px;
	                                margin-bottom: 8px;
	                            }
	                            .rating {
	                                font-size: 10px;
	                                i {
	                                    font-size: 10px;

	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	        .box-pick {
	            padding: 0px;
	            .t {
	            	text-align: center;
	                font-size: 22px;
	                line-height: 35px;
	                margin-bottom: 20px;
	            }
	            .in-pick {
	                padding: 30px 15px 0 15px;
	                &:before {
	                	display: none;
	                }
	                .row {
	                    margin-left: -20px;
	                    margin-right: -20px;
	                    > div {
	                        padding-left: 20px;
	                        padding-right: 20px;
	                    }
	                }
	                .item-pick {
	                	margin-bottom: 30px;
	                    .img-pick {
	                        margin-bottom: 15px;
	                        img {
	                            height: 40px;
	                        }
	                    }
	                    .nm-pick {
	                        margin-bottom: 10px;
	                    }
	                    .bdy-pick {
	                        p {
	                            font-size: 13px;
	                            line-height: 18px;
	                        }
	                    }
	                }
	            }
	        }
	    	.box-meal {
	            padding: 40px 0;
	            .t {
	                font-size: 20px;
	                line-height: 35px;
	                margin-bottom: 20px;
	            }
	            .item-meal {
	                margin-bottom: 20px;
	            }
	        }
	        .box-what {
	            padding: 40px 0;
	            .row {
	                margin-left: -15px;
	                margin-right: -15px;
	                > div {
	                    padding-left: 15px;
	                    padding-right: 15px;
	                }
	            }
	            .t {
	                font-size: 20px;
	                line-height: 35px;
	                margin-bottom: 20px;
	            }
	            .item-what {
	                .nm {
	                	margin-bottom: 10px;
	                	height: auto;
	                    font-size: 15px;
	                    line-height: 22px;
	                }
	                .bdy {
	                    margin-bottom: 10px;
	                    p {
	                        height: auto;
	                    }
	                }
	            }
	        }
	        .box-subs {
	        	.img-subs {
	                width: 100%;
	            }
	            .abs-subs {
	                position: relative;
	                top: inherit;
	                @include transform(translateY(0));
	            }
	            .in-subs {
	                padding: 20px 0;
	                border-top-left-radius: 0;
	                border-bottom-left-radius: 0;
	                &:after {
	                    content: '';
	                    width: 100%;
	                    height: 100%;
	                    position: absolute;
	                    top: 0;
	                    right: 100%;
	                    background-color: $green;
	                }
	                .t-subs {
	                    font-size: 18px;
	                    line-height: 26px;
	                }
	                .bdy-subs {
	                    margin-bottom: 10px;
	                    p {
	                    	font-size: 13px;
	                    	line-height: 20px;
	                    }
	                }
	                .hvr-button {
	                    width: 150px;
	                }
	            }
	        }
	    }
	    .css-cart {
	    	.box-detail {
	    		margin-top: 0;
	            padding-top: 20px;
	        }
	    	.t-shipping {
	            font-size: 14px;
	            line-height: 20px;
	            padding-top: 20px;
	            margin-top: 10px;
	            margin-bottom: 20px;
	        }
	        .m15 {
	            margin-left: -10px;
	            margin-right: -10px;
	            margin-bottom: 30px;
	        }
	        ul.nav-shipping {
	            li {
	                padding-right: 5px;
	                padding-left: 5px;
	                a {
	                    padding: 0 5px;
	                    font-size: 12px;
	                    line-height: 17px;
	                    &:before {
	                        height: 4px;
	                        bottom: -10px;
	                    }
	                    &:after {
	                    	display: none !important;
	                    }
	                }
	            }
	        }
	        .slider-shipping {
	            padding: 20px 25px;
	            .slick-prev {
	                width: 25px;
	                &:before {
	                    width: 9px;
	                    height: 15px;
	                    font-size: 15px;
	                }
	            }
	            .slick-next {
	                width: 25px;
	                &:before {
	                    width: 9px;
	                    height: 15px;
	                    font-size: 15px;
	                }
	            }
	            .item {
	                margin-right: 10px;
	                margin-left: 10px;
	                .date {
	                    font-size: 12px;
	                    line-height: 20px;
	                    margin-bottom: 10px;
	                }
	                ul.l-time {
	                    li {
	                        a {
	                            font-size: 11px;
	                            padding: 8px 10px;
	                        }
	                    }
	                }
	            }
	        }
	    	.cart20 {
	    		.text-right {
	    			text-align: left !important;
	    		}
	    	}
	    	a.link-cart {
	    		margin-top: 10px;
	    	}
	        .t {
	            font-size: 20px;
	            line-height: 30px;
	            margin-bottom: 20px;
	        }
	        ul.l-step {
	            margin: 0 0 30px;
	            li {
	            	margin-left: 30px;
	            	&:before {
	            		width: 40px;
	            		right: 15px;
	            	}
	            }
	        }
	        .t2 {
	            font-size: 18px;
	            line-height: 25px;
	            margin-bottom: 15px;
	        }
	        .t3 {
	            font-size: 14px;
	            line-height: 20px;
	        }
	        .t5 {
	            margin-bottom: 20px;
	            font-size: 17px;
	            line-height: 25px;
	        }
	        .i-success {
	            margin-bottom: 30px;
	            width: 50px;
	            height: 50px;
	            line-height: 50px;
	            img {
	            	height: 20px;
	            }
	        }
	        .bdr-pay {
	        	width: 100%;
	        	height: 1px;
	        	margin: 10px 0 30px;
	        }
	        .item-cart {
	            .t-cart {
	                font-size: 15px;
	                line-height: 20px;
	                margin-bottom: 10px;
	            }
	            .bdr-cart {
	                position: relative;
	                border-bottom: 1px solid #E7E7DF;
	                margin-bottom: 15px;
	                &:last-child {
	                	border: 0;
	                	margin-bottom: 0;
	                }
	                &:before {
                        display: none !important;
                    }
	            }
	            .in-cart {
	                margin-bottom: 15px;
	                .tbl {
	                    .cell {
	                        &.img {
	                            width: 120px;
	                        }
	                        .nm {
	                            font-size: 14px;
	                            line-height: 20px;
	                        }
	                        .bdy {
	                        	margin-bottom: 25px;
	                        }
	                    }
	                }
	            }
	        }
	        .form-promo {
	            width: 100%;
	        }
	        .box-check {
	            .styled-checkbox {
	                & + label {
	                    font-size: 13px;
	                    line-height: 20px;
	                }
	            }
	        }
	        .bdy-terms {
	            margin-top: 30px;
	            p {
	                font-size: 13px;
	                line-height: 20px;
	            }
	        }
	        .item-price {
	        	text-align: left;
	        	.price1 {
	        		width: 49%;
	        	}
	            .price2 {
	            	text-align: right;
	            	width: 49%;
	                margin-left: 0;
	                font-size: 15px;
	                line-height: 22px;
	            }
	            a {
	            	display: block;
	            }
	            .hvr-button {
	                margin-top: 20px;
	                min-width: 100%;
	            }
	            .text-price {
	                width: 100%;
	                float: none;
	            }
	        }
	    }
	    .css-auth {
	        .banner {
	            .box {
	                width: 100%;
	                margin-top: 80px;
	                padding: 30px 20px;
	                &:before {
	                	display: none;
	                }
	                ul.l-soc {
	                    margin: 0 0 35px;
	                    li {
	                    	display: block;
	                        margin-right: 0;
	                        margin-bottom: 10px;
	                        &:last-child {
	                        	margin-bottom: 0;
	                        }
	                        a {
	                        	min-width: 195px;
	                            padding: 10px 15px;
	                            font-size: 13px;
	                            line-height: 18px;
	                            img {
	                                width: 18px;
	                            }
	                        }
	                    }
	                }
	                .t-forgot {
	                	margin-bottom: 25px;
	                	padding: 0 15px 10px 0;
                        font-size: 18px;
                        line-height: 25px;
                        &:before {
                        	height: 3px;
                        }
	                }
	                .t2-forgot {
	                    font-size: 13px;
	                    line-height: 20px;
	                    margin-bottom: 30px;
	                }
	                ul.l-login {
	                    margin: 0 0 45px;
	                    li {
	                        a {
	                            padding: 0 15px 10px 0;
	                            font-size: 18px;
	                            line-height: 25px;
	                            &:before {
	                            	height: 3px;
	                            }
	                        }
	                    }
	                }
	                a.link {
	                	font-size: 10px;
	                }
	                #form {
	                    input {
	                    	font-size: 13px;
	                        padding: 0 0 10px;
	                        width: 100%;
	                    }
	                    .pos-rel {
	                    	display: block;
	                    }
	                    .hvr-button {
	                        width: 150px;
	                    }
	                }
	            }
	        }
	    }
	    .css-blog {
	    	.box-orange {
	            .pad-orange {
	            	padding: 0;
	            	.t-orange {
	            		font-size: 18px;
	            		margin: 30px 0 15px;
	            	}
	            }
	        }
	    	.item-blog-big {
	            a {
	            	.show-banner {
	            		display: block;
	            		img {
	            			object-fit: cover;
	            			height: 150px;
	            			width: 100%;
	            		}
	            	}
	            	.in {
	                    height: auto;
	                    .box {
	                    	width: 100%;
	                    	float: none;
	                        padding: 20px;
	                        .t {
	                        	font-size: 14px;
	                        	line-height: 20px;
	                        	margin-bottom: 5px;
	                        }
	                        .bdy {
	                            height: 90px;
	                        }
	                    }
	                }
	            }
	        }
	        a.click-more {
	            .hvr-button {
	                width: 250px;
	            }
	        }
	        .t {
	        	font-size: 18px;
	        	line-height: 25px;
	        	margin-bottom: 15px;
	        }
	        .item-blog {
	            margin-bottom: 30px;
	            a {
	                .bdy {
	                    p {
	                        height: auto;
	                    }
	                }
	            }
	        }
	        .slider-blog {
	        	.slick-prev {
	                width: 30px;
	                height: 30px;
	                &:before {
	                    width: 30px;
	                    height: 30px;
	                    font-size: 15px;
	                }
	            }
	            .slick-next {
	                width: 30px;
	                height: 30px;
	                &:before {
	                    width: 30px;
	                    height: 30px;
	                    font-size: 15px;
	                }
	            }
	            .item {
	                .banner {
	                    .box {
	                    	margin-top: 80px;
	                        width: 100%;
	                        padding: 20px 30px 75px 30px;
	                        .t {
	                            font-size: 17px;
	                            line-height: 25px;
	                        }
	                        .bdy {
	                        	p {
	                        		font-size: 13px;
	                        		line-height: 20px;
	                        	}
	                        }
	                    }
	                    .abs-btn {
	                        position: absolute;
	                        bottom: 0;
	                        left: 50%;
	                        @include transform(translateX(-50%));
	                        a {
	                            display: inline-block;
	                            .hvr-button {
	                                border-radius: 0;
	                                min-width: 200px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	        .t-detail {
	            font-size: 22px;
	            line-height: 35px;
	        }
	        .date {
	            margin-bottom: 30px;
	        }
	        .desc {
	            p {
	                font-size: 14px;
	                line-height: 22px;
	            }
	            ul, ol {
	                li {
	                    font-size: 14px;
	                    line-height: 22px;
	                }
	            }
	            h1 {
	                font-size: 18px;
	                line-height: 25px;
	            }
	        }
	    }
	    .css-faq {
	        nav {
	            &.nav-faq {
	                margin-bottom: 30px;
	                .nav-item {
	                	-ms-flex: 0 0 100%;
	                    flex: 0 0 100%;
	                    max-width: 100%;
	                    margin-bottom: 15px;
	                    a {
	                        padding: 10px 15px 7px;
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	        .content-faq {
	            .t-faq {
	                font-size: 22px;
	                line-height: 30px;
	                margin-bottom: 15px;
	            }
	            .tab-answer {
	                .t-answer {
	                    font-size: 17px;
	                    line-height: 24px;
	                    margin-bottom: 10px;
	                }
	                .bdy-answer {
	                    p {
	                    	line-height: 23px;
	                        font-size: 14px;
	                    }
	                }
	            }
	        }
	        .banner {
	            .box {
	                padding: 30px 20px;
	                .search {
	                	input {
	                		padding-right: 35px;
	                	}
	                	.btn-search {
	                		right: 5px;
	                		img {
	                			height: 17px;
	                			position: relative;
	                			top: -2px;
	                		}
	                	}
	                }
	                .t {
	                    font-size: 22px;
	                    line-height: 30px;
	                }
	                .bdy {
	                    margin-bottom: 20px;
	                    p {
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	    }
		.css-contact {
			.mb20 {
                margin-bottom: 15px;
            }
            .mb25 {
                margin-bottom: 25px;
            }
	        .t {
	            font-size: 25px;
	            line-height: 30px;
	            margin-bottom: 20px;
	        }
	        .bdy {
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	    }
	}
}